#billboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    min-width: 250px;
    height: 20%;
    min-height: 100px;
    border: 2vh dotted #ffffed;
    outline: 1vh solid rgb(239, 239, 239);
    font-family: Ubuntu, sans-serif;
    font-size: 4vh;
    font-weight: bolder;
    box-shadow: 0px 5px 10px 15px black;
    cursor: pointer;
    z-index: 6;
}

#billboard:hover {
    border-color:#ffffa1;
    box-shadow: 0px 5px 7px 12px black;
}

.lift-up-billboard {
    border-color: #ffffa1 !important;
    box-shadow: 0px 5px 7px 12px black;
    animation-name: lift-up-billboard;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes lift-up-billboard {
    from {    
        top: 50%;
        left: 50%;
    }
    to {
        top: -11%;
        left: 50%;
    }
}