#cyclorama {
    height: 100%;
    background-color: #fee9a8;
    z-index: 3;
    opacity: 0;
    filter: grayscale(1);
}

#chapter {
    position: relative;
    width: 80%;
    max-width: 640px;
    height: 60%;
}

#chapter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    outline: 2vh solid white;
    border-radius: 1px;
    z-index: 2;
}

#chapter::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    outline: 2.5vh solid black;
    z-index: 1;
}

#screen {
    width: 100%;
    height: 80%;
    border: 0.5vh solid black;
}

#screen-caption {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20%;
    font-size: 3.5vh;
}

.show-cyclorama-3 {
    animation-name: show-cyclorama;
    animation-duration: calc(52s / 3);
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

.show-cyclorama-4 {
    animation-name: show-cyclorama;
    animation-duration: calc(52s / 4);
    animation-timing-function: linear;
    animation-iteration-count: 4;
}

.show-cyclorama-5 {
    animation-name: show-cyclorama;
    animation-duration: calc(52s / 5);
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

.show-cyclorama-6 {
    animation-name: show-cyclorama;
    animation-duration: calc(52s / 6);
    animation-timing-function: linear;
    animation-iteration-count: 6;
}

.show-cyclorama-7 {
    animation-name: show-cyclorama;
    animation-duration: calc(52s / 7);
    animation-timing-function: linear;
    animation-iteration-count: 7;
}

.show-cyclorama-8 {
    animation-name: show-cyclorama;
    animation-duration: calc(52s / 8);
    animation-timing-function: linear;
    animation-iteration-count: 8;
}

@keyframes show-cyclorama {
    0%, 5% {
        opacity: 0;
        filter: grayscale(1);
    }
    15%, 25% {
        opacity: 1;
        filter: grayscale(1);
    }
    35%, 65% {
        opacity: 1;
        filter: grayscale(0);
    }
    75%, 85% {
        opacity: 1;
        filter: grayscale(1);
    }
    95%, 100% {
        opacity: 0;
        filter: grayscale(1);
    }
}