#main-drape {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e24000;;
    z-index: 4;
}

#main-drape-top {
    width: 100%;
    height: 95%;
    background-image: radial-gradient(at top, transparent 62%, black 62%, black 72%, transparent 72%), linear-gradient(to right, black 7%, transparent 7%, transparent 93%, black 93%);
    background-size: calc(100% / 16) calc(100% / 22);
}

#main-drape-bottom {
    position: relative;
    width: 100%;
    height: 5%;
    background-image: radial-gradient(at top, transparent 60%, black 60%, black 72%, transparent 72%), linear-gradient(to right, black 7%, transparent 7%, transparent 93%, black 93%);
    background-size: calc(100% / 16) calc(100% / 2);
}

#main-drape-bottom::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: radial-gradient(at top, transparent 60%, black 60%, black 72%);
    background-size: calc(100% / 16) 100%;
}

#main-drape-bottom::after {
    content: '';
    position: absolute;
    bottom: -50%;
    width: 100%;
    height: 50%;
    background-image: radial-gradient(at top, black 72%, transparent 72%);
    background-size: calc(100% / 16) 100%;
    background-position: -50% 0px;
}